@model IndexModel
<div class="modal-header">
    <h5 class="modal-title">Media - Create Directory</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="mb-3">
        <label for="@Html.IdFor(m => m.NewName)" class="form-label">Name:</label>
        <input asp-for="NewName" type="text" class="form-control" required autofocus />
        <span asp-validation-for="NewName" class="text-danger"></span>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" id="btnCancel" data-bs-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary" id="btnOk" asp-action="CreateDirectory">Create Directory</button>
</div>
