@page
@model MyMvcApp.Pages.LocalPageModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{ Layout = "_Layout"; }

@Localizer["PageHead"]

<p>
    @Localizer["This is a string in a localized page"]
</p>

@Localizer["PageFoot"]
