@model EditModel
<input type="hidden" asp-for="CanHavePassword" />
<input type="hidden" asp-for="CanHaveInitialPassword" />
<input type="hidden" asp-for="RemovePasswordOnSave" />
@if (Model.CanHavePassword)
{
    if (Model.CanHaveInitialPassword)
    {
        <div class="mb-3">
            <label asp-for="InitialPassword" class="form-label"></label>
            <input asp-for="InitialPassword" class="form-control" type="password" autocomplete="one-time-code" autofocus />
            <span asp-validation-for="InitialPassword"></span>
        </div>
    }
    else
    {
        <div class="mb-3 alert alert-info" role="alert">
            <button type="submit" class="btn btn-secondary btn-sm float-end" formaction="@Url.Action("RemovePassword", new { Model.Item.Id })"><i class="spinner"></i> Remove Password</button>
            Account has a password.
        </div>
    }
}