@model MyMvcApp.Models.Content.ContentModel
@inject MyMvcApp.Data.Content.ContentDbContext context
@{
    Layout = "_Layout";
    ViewData["Title"] = Model.Document["Title"].Value;
    var IsPreview = (bool)(ViewBag.IsPreview ?? false);
}

@if (this.Context.User?.IsInRole("Administrator") == true || this.Context.User?.IsInRole("ContentAdministrator") == true || this.Context.User?.IsInRole("ContentEditor") == true || this.Context.User?.IsInRole("ContentAuthor") == true)
{
    if (IsPreview)
    {
        <div style="position: fixed; top: 120px; right: 24px;"><a href="javascript:window.close();" style="background-color: #0d6efe; border: solid 1px #c8c8cf; border-radius: 4px; padding: 6px 8px; color: #fff; font-size: 0.9rem; text-decoration: none;">Close this preview</a></div>
    }
    else
    {
        <div style="position: fixed; top: 120px; right: 24px;"><a asp-action="Edit" asp-controller="Document" asp-route-area="MvcDashboardContent" asp-route-id="@Model.Document.DocumentId" style="background-color: #f0f0f4; border: solid 1px #c8c8cf; border-radius: 4px; padding: 4px 8px; color: #000; font-size: .8rem; text-decoration: none;">Edit</a></div>
    }
}

<h1>@Html.Content("Title")</h1>

<div>@Html.Content("Body")</div>
