@{
    ViewBag.Title = "Home";
}

@if (Model.HasPendingMigrations)
{
    <div class="card text-white bg-danger m-3">
        <div class="card-header">Database issue</div>
        <div class="card-body">
            <h5 class="card-title">Pending Database Migrations</h5>
            <div class="card-text">
                <p>The database does not contain the required Content tables yet, or is not up to date. To fix this, run the database migrations.</p>
                <a class="btn btn-primary" asp-action="RunMigrations">Run migrations</a>
            </div>
        </div>
    </div>
}

<div class="border bg-light p-4 rounded-lg m-3">
    <h1 class="display-4">MvcDashboardContent</h1>
    <p class="lead">Your MVC dashboard to manage website content.</p>
    <a class="btn btn-primary btn-lg" href="@Url.Action("GetStarted")" role="button">Get started</a>
</div>
