@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> userManager
@model TopMenuModel

<li class="nav-item" ifroute-setactive="\/Users(\/|$)">
    <a class="nav-link" asp-area="MvcDashboardIdentity" asp-controller="Users" asp-action="Index"><i class="fas fa-solid fa-user"></i> Users <span class="badge bg-secondary">@Model.UserCount</span></a>
</li>
@if (userManager.SupportsUserRole)
{
    <li class="nav-item" ifroute-setactive="\/Roles(\/|$)">
        <a class="nav-link" asp-area="MvcDashboardIdentity" asp-controller="Roles" asp-action="Index"><i class="fas fa-solid fa-theater-masks"></i> Roles <span class="badge bg-secondary">@Model.RoleCount</span></a>
    </li>
}